// Fonts

$monospace: 'Roboto Mono', monospace;
$sans-serif: 'Noto Sans', sans-serif;

$default-font-size: 1.6rem;

// Colours

$colour-primary: #0b3c5d;
$colour-primary-lightest: #F0FFFF;
$colour-primary-light: #255677;
$colour-primary-dark: #002344;

$colour-neutral: #2F3C46;
$colour-background: #dde7da;
$colour-highlight: #e14658;


// Grids

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Misc

$card-radius: .8rem;
$card-shadow: 0px 6px 28px 1px rgba(0,0,0,0.5);
