.app {
  max-width: 90%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 2rem;
  background-color: $colour-primary;
  color: $colour-primary-lightest;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: $card-shadow;

  @include respond(tab-port) {
    max-width: 66.6666%;
  }

  @include respond(tab-land) {
    max-width: 50rem;
  }
}
