.button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: .3rem;
  border: none;
  font-size: $default-font-size;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--nav {
    background-color: $colour-highlight;
    color: white;
    width: 18rem;
    margin: 0 auto;
  }

  &--nav-blue {
    background-color: $colour-primary-dark;
    color: $colour-primary-lightest;
  }

  &--quiz {
    background-color: $colour-highlight;
    text-align: left;
    padding: 2rem 1rem;
  }

  &--choice {
    background-color: $colour-neutral;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 0;
    min-width: 100%;
    grid-column: 1/3;

    @include respond(tab-land) {
      grid-column: span 1;
      // width: 25rem;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-bottom: .1rem;
    }

    &:active {
      background-color: $colour-highlight;
    }
  }

  &__insert {
    @include absCentre;
    left: 90%;
    background-color: $colour-neutral;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    line-height: 275%;
  }
}

// .quiz-option {
//   background-color: $colour-highlight;
//   border-radius: .5rem;
//   font-size: 2rem;
//   padding: 2rem 0;
//   min-width: 100%;
//   color: white;
//   margin-bottom: 1rem;
//   p {
//     display: inline-block;
//     margin-left: 2rem;
//   }
// }
