.header {
  height: 7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: $colour-neutral;
  color: white;
  position: relative;

  &__icon {
    font-family: $monospace;
    position: absolute;
    top: 20%;
    left: 10rem;
    transform: translate(-50%, -50%) rotate(-3deg);
    font-size: 2.8rem;
    cursor: pointer;

    @include respond(tab-land) {
      transform: translate(-50%, -50%) rotate(-1.5deg);
    }
  }
}
