.question {

  &__text {
    font-size: $default-font-size;
  }

  &__progress-outer {
    min-width: 70%;
    background-color: $colour-primary-lightest;
    border-radius: 1rem;
    overflow: hidden;
    text-align: left;
    border: 3px solid $colour-primary-lightest;
    position: relative;
  }

  &__progress-inner {
    background-color: $colour-highlight;
    float: left;
    transition: all 0.5s cubic-bezier(.16,1.25,.68,1.37);
    min-height: 2.8rem;
    margin: auto;
  }

  &__progress-score-box {
    position: absolute;
    left: 0;
    right: 0;
    top: -1.8rem;
    margin: none;
    font-size: .5rem;
    text-align: center;
    padding: none;
    color: $colour-primary-dark;
  }

  &__progress-score {
    margin: none;
    padding: none;
    font-size: 2rem;
    text-shadow: 0px 0px 1px rgba(50, 50, 50, 1);
  }

  &__code {
    background-color: #444444;
    border-radius: .5rem;
    margin: auto;
    margin-bottom: 2.5rem;
    width: 97%;
    display: inline-block;
    text-align: left;
    color: white;
    overflow-x: hidden;
  }

  &__code-tabs {
    text-align: right;
    font-size: $default-font-size;
    display: grid;
  }

  &__code-tab {
    border: 2px solid #111;
    padding: 3px 10px;
    border-top: none;
    border-left: none;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &--selected {
      background-color: $colour-highlight;
    }
  }

  &__monospace {
    overflow-x: scroll;
  }

  &__code-block {
    padding: 7px 10px;
    font-family: $monospace;
    font-size: 1rem;
  }

  &__panel {
    color: $colour-primary-lightest;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    padding: 5px;

    @include respond(tab-land) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
    }

    &--choice {
      background-color: $colour-background;
    }

    &--incorrect {
      background-color: #FF6666;
    }

    &--correct {
      background-color: #77DD77;
    }

    &--explanation {
      background-color: $colour-primary-dark;

      @include respond(tab-land) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__panel-answer {
    color: $colour-primary-lightest;
    font-size: $default-font-size;
    grid-column: 1/3;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  &__panel-result {
    color: $colour-primary-lightest;
    font-size: $default-font-size;
    grid-column: 1/3;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  &__panel-text {
    color: $colour-primary-lightest;
    grid-column: 1/3;
    margin-bottom: 5px;
    margin-top: 0px;
  }
}
