.quiz {
  cursor: pointer;
  text-align: left;
  padding: .2rem 25% .2rem .5rem;
  position: relative;
  transition: transform .2s ease;

  @include respond(tab-port) {
    padding: .5rem 25% .5rem 2rem;
  }

  @include respond(tab-land) {
    padding: .3rem 25% .3rem .8rem;
  }

  @include respond(large-desktop) {
    padding: .5rem 25% .5rem 2rem;
  }

  &:nth-child(1n) {
    background-color: $colour-primary-light;
  }

  &:nth-child(2n) {
    background-color: $colour-primary;
  }

  &:nth-child(3n) {
    background-color: $colour-primary-dark;
  }

  &:hover {
    filter: brightness(85%);
    transform: scale(1.03);
  }

  &__name {
    font-size: 1.4rem;
    margin-top: .5rem;

    @include respond(large-desktop) {
      font-size: 1.5rem;
    }
  }

  &__creator {
    font-size: 1.1rem;

    @include respond(large-desktop) {
      font-size: 1.2rem;
    }
  }

  &__score {
    position: absolute;
    top: 60%;
    right: 5%;
    transform: translateY(-50%);
    background-color: white;
    color: $colour-primary-dark;
    border-radius: 50%;
    height: 3.6rem;
    width: 3.6rem;
    text-align: center;
    line-height: 315%;
    font-size: 1.2rem;

    @include respond(large-desktop) {
      height: 4rem;
      width: 4rem;
      line-height: 285%;
      font-size: 1.4rem;
    }
  }

  &__options {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: flex;
  }

  &__icon {
    fill: white;
    height: 1.8rem;
    width: 1.8rem;

    @include respond(large-desktop) {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      fill: $colour-highlight;
    }
  }
}
