.timer {
  background-color: black;
  font-family: 'Digital', sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  padding: .8rem 1.2rem;
  border-radius: 2px;
  display: inline-block;
  @include absCentre;
  top: 10%;

  &--red {
    background-color: $colour-incorrect;
  }
}
