.user {
  position: absolute;
  z-index: 10;
  top: 3rem;
  right: 3.5rem;
  transform: translate(50%, -50%);
  text-align: center;
  fill: white;
  height: 5.5rem;
  cursor: pointer;
  width: 5.5rem;

  @include respond(tab-port) {
    right: 4rem;
  }

  &--check {
    fill: $colour-neutral;
    height: 1.5rem;
    top: 4.2rem;
    width: 1.5rem;
  }

  &__auth {
    position: absolute;
    color: $colour-primary-lightest;
    width: 90vw;
    top: 7rem;
    right: 1.5rem;
    box-shadow: $card-shadow;
    padding-bottom: 4rem;
    cursor: default;

    @include respond(tab-port) {
      width: 50vw;
      right: 2rem;
    }

    @include respond(tab-land) {
      width: 35rem;
    }

    &::before {
      content: "";
      height: 1rem;
      width: 1rem;
      background-color: white;
      box-shadow: $card-shadow;
      position: absolute;
      top: -1rem;
      right: 1.5rem;
      -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }

  &__escape {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 200%;
    cursor: pointer;
    fill: $colour-primary;
    border-radius: 50%;

    &:hover {
      fill: $colour-highlight;
    }
  }

  &__type {
    width: 70%;
    margin: 1.5rem auto 1rem;
    max-width: 24rem;
    font-size: 1.2rem;
  }

  &__form-group {
    margin: 0 auto;
    width: 18rem;
    position: relative;
  }

  &__input {
    padding: 1rem .2rem .2rem .2rem;
    margin-bottom: 1rem;
    min-width: 18rem;
    // border-radius: .5rem;
    font-size: 1.5rem;
    border-style: none;
    border-bottom: 1px solid $colour-primary;

    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid $colour-highlight;
    }
  }

  &__input:placeholder-shown {
    padding: .6rem .2rem;
  }

  &__input:placeholder-shown + &__label {
    position: absolute;
    top: .85rem;
    font-size: $default-font-size;
  }

  &__label {
    color: #777777;
    position: absolute;
    top: -.4rem;
    left: .2rem;
    margin-top: 0;
    font-size: 1.1rem;
    transition: all .2s;
  }

  &__submit {
    width: 40%;
    min-width: 16rem;
    font-size: 1.4rem;
  }

  &__text {
    text-align: center;
    font-size: 2.2rem;
    color: $colour-primary;
    font-family: $sans-serif-thin;
  }

  // Would like to add ticks to passed validation
  &__validation {
    color: $colour-incorrect;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    width: 95%;
    max-width: 24rem;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;

    li {
      text-align: left;
    }
  }

  &__passed {
    color: $colour-correct;
  }
}
